* {
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	padding: 20px 0;
}

tr td {
	width: 100px;
	height: 100px;
}

table {
	margin: 0 auto;
}

.midRow td{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.midCol{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

